{% extends 'base.html' %} {% load static %} {% block head %}
<title>New and Info</title>
<link rel="stylesheet" href="{% static 'css/info_page.css' %}?{% now "U" %}" />
{% endblock %} {% block header %}
<header class="table">
    <div class="buttons">
        <div class="button">
            <a href="#" method="GET">To Main</a>
        </div>
        <div class="button">
            <a href="#" method="GET">Sign In </a>
        </div>
        <div class="button">
            <a href="{% url 'greet' %}" method="GET">Greetings</a>
        </div>
    </div>
</header>
{% endblock %} {% block content %}
<div>
    <!--Messages from Last Info database-->
    <div class="mesWindow">
        Window of Messages
        <!--The Template of messages {-->
        <div class="mesField">
            Message Container
            <div id="daytime">Day & Time</div>
            <div id="conteiner">
                Content Container
                <div class="titles">
                    <div id="title">Title</div>
                    <div id="author">Author</div>
                </div>
                <div id="message_box">Message</div>
            </div>
        </div>
        <!--The Template }-->
    </div>
</div>
{% endblock %} {% block footer %}
<footer>
    <div class="credits">
        <div id="company"><p>Enthentuazis SingleCo.</p></div>
        <div id="planet_year"><p>Tessia, 2023</p></div>
    </div>
    <script src="{% static 'js/infoButtons.js' %}"></script>
</footer>
{% endblock %}
