{% extends 'base.html' %} {% load static %} {% block head %}
<title>Greetings</title>
<link rel="stylesheet" href="{% static 'css/hello_page.css' %}?{% now "U" %}" />
{% endblock %} {% block header %}
<header class="menu">
    <div class="buttons">
        <input class="button" type="button" value="To Main" />
        <input class="button" type="button" value="Sign In" />
        <input class="button" type="button" value="Registration" />
        <input class="button" type="button" value="Info&Contacts" />
    </div>
</header>
{% endblock %} {% block content %}
<!--Remove all styles and set new dependences between js and html-elements when Internet connection will be restored again-->
<div class="upper">
    <h1>You are welcome!</h1>
    <hr />
    <div class="rows">
        <h2>Caloricuper checks your calories from food having eaten...</h2>
        <div class="picture">
            <img src="{% static 'images/tea_cup.jpg' %}" alt="food" />
        </div>
        <div class="picture">
            <img src="{% static 'images/list.jpg' %}" alt="list" />
        </div>
    </div>
    <div class="rows">
        <h2>...or goods you have bought...</h2>
        <div class="picture">
            <img src="{% static 'images/market_backet.jpg' %}" alt="goods" />
        </div>
        <div class="picture">
            <img src="{% static 'images/list.jpg' %}" alt="list" />
        </div>
    </div>
    <div class="rows">
        <h2>...and builds your calory timetable</h2>
        <div class="picture">
            <img src="{% static 'images/timetable.jpg' %}" alt="timetable" />
        </div>
    </div>
</div>
<div>
    <div class="start">
        <h3>Before you will start,</h3>
        <h3>You need to do some steps:</h3>
    </div>
    <div class="steps">
        <div class="step step-1">
            <p class="stepText">Step1</p>
            <div>
                <img src="" alt="Step1" />
            </div>
        </div>
        <div class="step step-2">
            <p class="stepText">Step2</p>
            <div>
                <img src="" alt="Step2" />
            </div>
        </div>
        <div class="step step-3">
            <p class="stepText">Step3</p>
            <div>
                <img src="" alt="Step3" />
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block footer %}
<footer>
    <div class="credits">
        <div class="shorts">
            <p class="address">Heroes Avenue 1543, Addara, Tessia</p>
            <p class="company">
                Enthentuazis SingleCo<br />
                2023
            </p>
        </div>
        <div class="emblem">
            <img src="{% static 'images/emblem.jpg' %}" alt="emblem" />
        </div>
    </div>
    <script src="{% static 'js/buttons.js' %}"></script>
</footer>
{% endblock %}
